@font-face {
    font-family: "iranyekan" ;
    src: url("fonts/iranyekan/eot/iranyekanwebregular.eot?#") ,
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format('truetype'),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format('woff'),
    url("fonts/iranyekan/svg/iranyekanwebregular.svg") format('svg');
}
@font-face {
    font-family: "iranyekan_numbers" ;
    src: url("fonts/iranyekan_numbers/eot/iranyekanwebregular(fanum).eot?#") ,
    url("fonts/iranyekan_numbers/ttf/iranyekanwebregular(fanum).ttf") format('truetype'),
    url("fonts/iranyekan_numbers/woff/iranyekanwebregular(fanum).woff") format('woff'),
    url("fonts/iranyekan_numbers/svg/iranyekanwebregular(fanum).svg") format('svg');
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'iranyekan_numbers','iranyekan';
}
header{
    background-image: url(./Untitled-2.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header{
    margin: 0 auto;
    width: 90%;
}
header .flex{
    display: flex;
    flex-direction: row;
}
.flex .shorten{
    padding: 2rem;
    width: 50%;
}
.flex .login{
    width: 50%;
    padding: 2rem;
    text-align: end;
} 
.shorten{
    display: flex;
    flex-direction: row;
}
.shorten .svg{
    color:  #4d41ec;
    border-radius: 1rem;
}
.shorten .p{
    color:  #4d41ec;
}
.flex .login a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 0.7rem 2rem;
    border-radius: 2rem;
    background-color: #5d4ef5;
    border: #5d4ef5 solid 0.15rem;
}
header .text{
    line-height: 4rem;
    width: 70%;
    margin: 10rem auto;
}
h6{
    color: #aeafb7;
}
h1{
    color: #35373d;
}
h1 span{
    color: #2b2c30;
    font-weight: bolder;
}
.search{
    margin-top: 2rem;
    width: 52%;
    display: flex;
    flex-direction: row-reverse;
}
.shortenn{
    box-shadow: 3px 2px 3px rgba(34, 30, 30, 0.068);
     width: 15%;
     padding: 0 1.5rem;
     font-size: 0.75rem;
     background-color: white;
     border-top-right-radius: 2rem;
     border-bottom-right-radius: 2rem;
}
input{
    background-color: white;
    box-shadow: 3px 2px 3px rgba(34, 30, 30, 0.068);
    border: none;
    padding: 0 2rem;
    width: 80%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
article{
    height: 10vh;
    background-color: rgb(178, 180, 182);
}
.article{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
article .text{
    width: 50%;
}
article .text span{
    font-weight: bold;
}
article .input{
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    width: 50%;
}
article .input .p{ 
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
article .email{}